/* Eric Mayers Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Reset */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */

body {
  line-height: 1.5;
  font-family: arial;
}

/* Typography */

h2 {
  font-size: 2rem;
  font-weight: 600;
}

/* Modular Class */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.green {
  color: rgb(9, 189, 9);
}

.red {
  color: red;
}

/* Section-1 */

/* Header */

.header h2 {
  color: ;
}

.header p {
  font-size: 1.2rem;
}
/* Boxes */

.box {
  background-color: #6f759c;
  flex: 0 1 22%;
  text-align: center;
  border-radius: 5px;
  margin-top: 3rem;
}

.box-link i {
  font-size: 1.5rem;
  color: rgb(178, 178, 226);
  margin-right: 3px;
}

.box-link a {
  font-size: 0.9rem;
  color: rgb(178, 178, 226);
}

.box-link {
  padding: 1rem 0 0 0;
}

.box strong {
  font-size: 3rem;
  font-weight: 700;
  color: aliceblue;
  padding-bottom: 0;
}

.box h3 {
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

.box span {
  padding: 0.3rem 0 1.6rem 0;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
}
